<header id="header" class="fixed-top">
    <div class="container header-inner">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand logo" routerLink="/home" (click)="closeNavbar()" aria-label="PoojaVeda home">
                <img src="assets/img/brand/poojaveda.jpeg" alt="PoojaVeda - Rituals for a Better Tomorrow">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation" [attr.aria-expanded]="navbarOpen">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" (click)="closeNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item" (click)="closeNavbar()" routerLinkActive="active">
                        <a class="nav-link" routerLink="/projects" href="/projects">Products</a>
                    </li>
                    <li class="nav-item" (click)="closeNavbar()" routerLinkActive="active">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item" (click)="closeNavbar()" routerLinkActive="active">
                        <a class="nav-link" routerLink="/contactus">Contact</a>
                    </li>
                </ul>
                <a class="nav-cta" routerLink="/projects" href="/projects" (click)="closeNavbar()">Explore Products <span>↗</span></a>
            </div>
        </nav>
    </div>
</header>