<section id="pk_welcome" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-in-down" data-aos-delay="200">
        <h1>Welcome To <span>My Portfolio! </span>
        </h1>

        <div class="d-flex mt-4">
            <a href="https://www.youtube.com/watch?v=cg9VyPBHu94" class="venobox btn-watch-video" class="btn-get-started scrollto" data-vbtype="video" data-autoplay="true"> Watch Video <i
          class="icofont-play-alt-2"></i></a>
        </div>
    </div>
</section>
<div id="middle">
    <div class="container ">
        <div class="row ">
            <div class="col-md-3  d-none d-lg-block" data-aos="fade-right" >
                <h3>Download Resume </h3>
            </div>
            <div class="ml-auto  d-none d-lg-block" data-aos="fade-left" >
                <a href="../../../assets/Prashant.pdf" download>
                    <button type="button" class="btn btn-outline-warning"> <i class="fa fa-download" aria-hidden="true"></i> &nbsp;Download Resume</button></a>
            </div>
            
        </div>
        <div class="d-sm-block d-lg-none">
            <a href="../../../assets/Prashant.pdf" download>
                <button type="button" class="btn btn-outline-warning"> <i class="fa fa-download" aria-hidden="true"></i> &nbsp;Download Resume</button></a>
        </div>
    </div>
</div>
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about " data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title">
                <h2>About</h2>
                <h3>About <span> Me</span></h3>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" data-aos="fade-up"  data-aos-delay="200">
                    <img width="250px" height="250px" src="../../assets/WhatsApp Image 2020-10-20 at 17.10.31.jpeg" class="rounded-circle" alt="Cinque Terre">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <div>
                            <h2>HELLO, I'M PRASHANT KATIYAR</h2>
                            <h5>Full Stack Developer | Immediate Joiner </h5>
                        </div>
                        <div>
                            <p class="pt-2">Hard working and enthusiastic. Love to learn and keep updated with the latest technologies in the market especially new programming languages and platforms. Passionate coder and specially interested in Web Development technologies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Education</h2>
                <h3> My <span> Qualification</span></h3>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../assets/img/img/education/Tezpur-University-1140x570.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Tezpur University</h5>
                        <p class="card-text text-center">Masters of Computer Applications</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-1" data-aos="fade-up" data-aos-delay="300">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../assets/img/img/education/pratap.jpg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">Pratap University</h5>
                        <p class="card-text text-center">Bachelor of Computer Application</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-1" data-aos="fade-up" data-aos-delay="400">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../assets/img/img/education/nvic.jpeg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">NVIC Kanpur Nagar</h5>
                        <p class="card-text text-center">Intermediate</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-1" data-aos="fade-up" data-aos-delay="500">
                    <div class="card item-card card-block">
                        <img class="pk_img" src="../../assets/img/img/education/nvic.jpeg" alt="Photo of sunset">
                        <h5 class="card-title mt-3 mb-3 text-center">NVIC Kanpur Nagar</h5>
                        <p class="card-text text-center">High School</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- work experience -->
    <section class="page-section" id="about" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title">
                <h2>Work Experience</h2>
                <h3>Work <span> Experience</span></h3>
            </div>
            <ul class="timeline">
                <li data-aos="fade-up" data-aos-delay="200">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/img/projectImage/1.png" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>November 2019 - May 2021 | 1 year 7 months </h4>
                            <h4 class="subheading">Software Engineer</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Here I was working as a Full Stack Developer.</p>
                            <p>Website:-
                                <a href="http://www.v-labs.ai/">http://www.v-labs.ai/</a>
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted" data-aos="fade-up" data-aos-delay="300">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/img/projectImage/engedly.png" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>August 2019 - November 2019</h4>
                            <h4 class="subheading">Front End Developer at Engagedly Software India Private Limited Bangalore
                            </h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Here I was working as a front-end Developer.</p>
                            <p>Website:-
                                <a href="https://engagedly.com/">https://engagedly.com/</a>
                            </p>
                        </div>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400"> 
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../assets/img/img/projectImage/datagrazp1.png" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>March 2019 - July 2019 </h4>
                            <h4 class="subheading">Intern at Datagrazp Softech Pvt ltd Bangalore</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted"> Here I was working as a Intern</p>
                            <p>Website:-
                                <a href="http://www.datagrazp.com/">http://www.datagrazp.com/</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted" data-aos="fade-up" data-aos-delay="400"> 
                    <div class="timeline-image bg-primary">
                        <h4>
                            Be Part
                            <br /> Of Our
                            <br /> Story!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- technical skills -->
    <section class="page-section section-bg" id="about" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="section-title">
                <h2>Skills</h2>
                <h3>Technical <span> Skills</span></h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 item py-1 " data-aos="fade-up" data-aos-delay="200">
                    <div class="card item-card card-block">
                        <div class="pk_card py-4">Technical Skills</div>
                        <p class="card-text text-center pt-3">Angular, Node js ,Mysql ,Sql ,Java Script ,Chart js, Json, Bootstrap 4 ,Css3 ,Html5</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 item py-1" data-aos="fade-up" data-aos-delay="200">
                    <div class="card item-card card-block">
                        <div class="pk_card py-4">Other Skills</div>
                        <p class="card-text text-center pt-3">Git,Ubntu,Windows,Ms office</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="this.addProvider.isUserLoggedIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/tms.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">TMS</h4>
                                        <p class="card-text">Temperature Monitoring System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">TMS</h4>
                                        <p class="card-text">This project is used to check the temperature of person and show in the dashboards.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/tms-fr.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">TMS-FR</h4>
                                        <p class="card-text">Temperature Monitoring System - Face Recoganize</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">TMS-FR</h4>
                                        <p class="card-text">Temperature Monitoring System Face Recoganize is AI based web application So According to this Application we can recoganize individual tempreature of a person.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/pws.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">PWS</h4>
                                        <p class="card-text">Perimeter Watch System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">PWS</h4>
                                        <p class="card-text">Perimeter Watch System is AI based web application So According to this Application we can track object within particular area .
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/hcms.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">AMS</h4>
                                        <p class="card-text">Attendance Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">AMS</h4>
                                        <p class="card-text">Attendance management system is AI based web application So According to this application we can recoganize employee entry and exit time and also record.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/sms.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">SMS</h4>
                                        <p class="card-text">Showroom Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">SMS</h4>
                                        <p class="card-text">Showroom Management System is an application which is only for the customer.According to this application customer check all details particular vehicle.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="../../../assets/img/img/projectImage/hcms.png" alt="card image">
                                        </p>
                                        <h4 class="card-title">HCMS</h4>
                                        <p class="card-text">Health Care Management System</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">HCMS</h4>
                                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2> Contact</h2>
                <h3>Contact <span>Us</span></h3>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="fa fa-map-marker"></i>
                        <h3>Our Address</h3>
                        <p> 49,House No-5 , Bhadrappanavara Nivasa,Near Basaveshwara Temple,Nagashettyhalli, Bangalore 560094</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h3>Email Us</h3>
                        <p>prashantkatiyar10796@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h3>Call Us</h3>
                        <p> +91 8840091275</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>